div {
  /*Ordenar de manera alfabetica*/
  border: 5px solid blue; /*Poniendo un borde*/
  /*box-sizing: border-box;*/
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
  box-sizing: border-box;

}

p {
  font-size: 50px;
  text-align: center;
}

.box-none {
  display: none; /*Para eliminarlo*/
}

.box-hidden {
  visibility: hidden;
}
